doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/explore.css')
  body
    div#container
      div#sidebar
        include includes/sidebar.pug
      div#main
        div#about
        p Annual county population estimate from the Census department are used to show that year's population and the percent of the county that are brand new transplants.
        p Use the controls on the left to change the displayed statistic available in the data:
          p Year: The years between which a move took place.
          p Direction: Here, immigration means migration into <span class="county-name">this county</span> and emigration means migration out of <span class="county-name">this county</span>
          p Statistic:
          ul
            li Number of Returns filed, which approximates the number of households that migrated
            li Number of Personal Exemptions claimed, which approximates the number of individuals
            li Total Adjusted Gross Income, value in thousands of dollars
            li Mean AGI, calculated by dividing Total AGI by Number of Returns.

        h4 County Map
        p The map currently shows the counties where taxpayers lived in 2014 before moving to <span class="county-name">this county</span> in 2015, shaded by the number of returns filed.  The more people, the darker the county is shaded.
        p Mouse over a county to see the value associated with that county. Click to zoom in on a county, then click again to zoom back out. You can also use the mouse wheel to zoom.
        div
          input(type='radio', id='drawShape', name='mapShape', value='shape', checked)
          label(for='drawShape') County Shape
          input(type='radio', id='drawCircles', name='mapShape', value='circle')
          label(for='drawCircles') Circles
        div#map
          svg(width='960', height='500')
          div#tooltip(class='tooltip')

        h4 Top Counties
        div#rank-county
        p#avg-pop-county

        h4 Top Counties (out of state)
        div#rank-county-outofstate
        p#avg-pop-county-out-of-state

        h4 Top States (out of state)
        div#rank-state
        h4 Source/Destination State
        select#stateyear
        div#annual

    script(src='/javascripts/app.bundle.js')