<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>irs-migration</title>
	<!-- <script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.min.js"></script> -->
</head>
<body>
	<div class="container">
		<div>
			<h3>What is this?</h3>
			<p>The IRS publishes data on migration patterns within the US based on changes in taxpayers' return addresses.  This is an ongoing project to visualize and explore that data, with special attention on San Francisco.  Eventually, the project might be modified to explore any county in the US.</p>
			<p>The data contains the aggregate number of returns that are filed within a particular county one year and a particular county the next. In this way it is possible to track the migration of taxpayers between specific counties.  In this project, I concentrate on migration patterns into San Francisco.</p>
			<p>This map currently shows the counties where taxpayers lived in 2014 before moving to San Francisco in 2015, shaded by the number of taxpayers.  The more people, the darker the county is shaded.</p>
		</div>
		<div id="map">
			<svg width="960" height="600" fill="none" stroke="#000" stroke-linejoin="round" stroke-linecap="round"></svg>
		</div>
		<div id="info"></div>
		<div id="rank"></div>
	</div>


</body>

</html>