.container {
  width: 960px;
  margin: auto;
}
.highlight {
  stroke: #f00;
  stroke-width: 2px;
}

.legendCells {
  fill: #000;
  stroke: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 12px;
}

.selector-control {
  margin: 0.5rem;  
}

#selected-year {
  border: 1px #787676 solid;
  padding: 3px;
  margin: 0 2px;
  border-radius: 4px;
}