body {
    padding: 0;
    margin: 0;
}

#sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 200px;
    margin-top: 50px;
    margin-left: 10px;
}

#container {
    margin-top: 50px;
    margin-left: 250px;
}

#year-selector {
   width: 200px;
}

.highlight {
  fill: #ac2ee7;
  /*stroke: #f00;
  stroke-width: 2px;*/
}

.legendCells {
  fill: #000;
  stroke: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 12px;
}

.selector-control {
  margin-top: 0.5rem;
}

#selected-year {
  border: 1px #787676 solid;
  padding: 3px;
  margin: 0 2px;
  border-radius: 4px;
}

.tooltip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}